# Java / Maven
target/
*.class
*.jar
*.war

# IDEs
.idea/
.settings/
.classpath
.project
*.iml
*.swp

# Docker / OS
.DS_Store
Thumbs.db
# Base de datos local (Docker)
backend/db_data/
**/db_data/
*.sock